.topicos{
    background: var(--azul-degrade);
    text-align: center;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    padding: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link{
    padding: 1em;   
    margin: 1em 0.7em;
    background-color: var(--laranja);
    color:var(--branco);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024) {

    .topicos__titulo{
        font-size: 24px;

    }

    .topicos__lista{
        font-size: 24px;
    }
    
}

@media screen and (min-width: 1728px) {

    .topicos {
        padding: 1em 32vw
    }
    
    .topicos__titulo{
        font-size: 32px;
    }
}
